@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

aside, article, section, header, footer, nav, p, h1, h2, h3 {
	display: block;
	line-height: 1.2em;
	font-size: 100%;
}

html {
	margin: 0;
	padding: 0;
	background: #c3dbc4;
	font-size: 1em;
}

body {
	width: 960px;
	background: #818c8c;
	margin: auto;
}

h1, h2, h3, h4 {
	font-family: "Playfair Display", serif;
}

h1 {
	width: 620px;
	text-align: left;
	font-size: 30px;
	}


h2 {
	text-align: center;
	background: rgba(255, 255, 255, .3);
	font-size: 1.2em;
	line-height: 1.5em;
}

.sidenav h2 {
	display: inline-block;
	font-size: 20px;	
	color: #fafafa;
	font-size: 1em;
	background: none;
	width: 200px;
	padding-top: 20px;
	margin: auto;
}

p {
	font-family: Verdana, sans-serif;
	font-style: normal;
	font-size: .85em;
	padding-left: 10px;
	padding-right: 10px;

}

.subheader {
	display: inline-block;
	font-size: 1.2em;
	font-style: italic;
	margin: 0;
}


/* Lists */

ul {
  list-style-type: none;
}

li a:link {
	background: rgba(240, 227, 197, .6);
	display: block;
	width: 150px;
	text-align: center;
	padding: 2px;
	margin-bottom: 5px;
	color: #05120f;
	font-style: normal;
}

li a:visited {
	background: rgba(240, 227, 197, .6);
	color: #383b38;
}

li a:hover {
  background: #79ad7b;
  color: white;
}

li a:active {
	background: #007065;
	color: #e9f0ef;
}


.sidenav {
  position: fixed;
  top: 0;
  padding: 20 px;
  margin-left: 10px;
  
}

.resources ul {
	list-style-type: none;
}

.resources li {
	font-family: verdana;
	font-size: .85em;
}

.resources li a:link {
	display: inline;
	background: none;

}


.col2 {
	height: 100%;
	width: 70%;
	background: #76a8a5;
	padding: 20px;
	float: right;
	margin-right: 10px;
	overflow: scroll;
}

.sidenav, .col2 {
	padding-bottom: 1000em;
	margin-bottom: -1000em;	
}

article {
	overflow: hidden;
}

footer {
	margin: auto;
	clear: both;
}

/* collapsible guidance boxes */

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: "Playfair Display";
  font-size: 1.0rem;
  text-align: left;

  padding: .5rem;

  color: black;
  background: rgb(56, 140, 71);
  width: 94%;
  height: 15px;
 

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background: rgba(195, 219, 196, .6);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  width: 94%;
}


.lbl-toggle:hover {
  color: white;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
  width: 97.5%;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 500px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

